.playlist {
    margin-top: 48px;
    .section-title {
        @include section-title;
    }
    .carousel-wrapper {
        @include responsive(laptop-sm) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        @include carousel-item;
        .carousel-item {
            @include responsive(laptop-sm) {
                width: inherit;
                &:last-of-type {
                    display: none;
                }
            }
            width: 20%;
        }
    }
}
