.recently {
    margin-top: 48px;
    .section-title {
        @include section-title;
    }
    .carousel-wrapper {
        @include playlist-card;
        grid-template-columns: repeat(5, 1fr);
        @include responsive(laptop-sm) {
            grid-template-columns: repeat(4, 1fr);
        }
        .carousel-item {
            @include responsive(laptop-sm) {
                &:last-of-type {
                    display: none;
                }
            }
            .carousel-title a {
                @include ellipsis-overflow();
            }
        }
    }
}