.gallery {
    position: relative;
    padding-top: 32px;
    overflow: hidden;
    .gallery-container {
        @include center(cross);
        height: 209.663px;
        gap: 30px;
        .gallery-item {
            flex-basis: calc((100% - 30px * 2) / 3);
            min-width: calc((100% - 30px * 2) / 3);
            height: 100%;
            img {
                border-radius: 8px;
            }
        }
        [#{'class$="-gallery"'}] {
            @include center(all);
            position: absolute;
            border-radius: 50%;
            width: 55px;
            height: 55px;
            font-size: 30.72px;
            color: #fff;
            background-color: hsla(0, 0%, 100%, 0.15);
            box-shadow: 0 2px 4px 0 rgba(226, 102, 102, 0.15);
            opacity: 0;
            visibility: hidden;
            transition: visibility 0.2s, opacity 0.2s;
            &:hover {
                filter: brightness(.9);
                cursor: pointer;
            }
            &.next-gallery {
                right: 10px;
            }
            &.prev-gallery {
                left: 10px;
            }
        }
        &:hover {
            [#{'class$="-gallery"'}] {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
