.weekchart {
    margin-top: 28px;
    .list {
        display: flex;
        gap: 20px;
        .item {
            a {
                display: block;
                border-radius: 4px;
                overflow: hidden;
                img {
                    transition: scale .7s;
                }
            }
            &:hover {
                img {
                    scale: 1.1;
                }
            }
        }
    }
}