/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.3);
}

::-webkit-scrollbar-button {
  height: 54px;
}

.active {
  border-left: 2.4px solid #9b4de0 !important;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #170f23;
}
.sidebar .sidebar-inner {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.05);
  font-weight: 500;
  color: #ddd;
  font-size: 1.4rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0 25px 0 28px;
  height: 70px;
}
.sidebar-item .zing-logo {
  height: 45px;
}
.sidebar-item .zing-logo img {
  width: 120px;
  height: 40px;
}

.navbar-main {
  position: relative;
  padding-bottom: 16px;
}
.navbar-main:after {
  content: "";
  display: block;
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 0;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
}
.navbar-main .item {
  padding: 12px 21px;
  border-left: 2.4px solid transparent;
  cursor: pointer;
}
.navbar-main .item:hover {
  color: #fff;
}
.navbar-main .item:hover .play-icon {
  display: block;
}
.navbar-main .item a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar-main .item a .play-icon {
  display: none;
  margin-left: auto;
  font-size: 1.8rem;
}
.navbar-main .item a .play-icon:hover {
  color: #ddd;
}

.navbar-sub {
  overflow: auto;
  flex-grow: 1;
}
.navbar-sub .scroll-menu {
  padding-top: 16px;
}
.navbar-sub .scroll-menu .menu .item {
  padding: 12px 21px;
  border-left: 2.4px solid transparent;
  cursor: pointer;
}
.navbar-sub .scroll-menu .menu .item:hover {
  color: #fff;
}
.navbar-sub .scroll-menu .menu .item:hover .play-icon {
  display: block;
}
.navbar-sub .scroll-menu .menu .item a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar-sub .scroll-menu .menu .item a .play-icon {
  display: none;
  margin-left: auto;
  font-size: 1.8rem;
}
.navbar-sub .scroll-menu .menu .item a .play-icon:hover {
  color: #ddd;
}
.navbar-sub .scroll-menu .library-personal {
  padding-top: 16px;
  padding-bottom: 64px;
}
.navbar-sub .scroll-menu .library-personal .item {
  padding: 12px 21px;
  border-left: 2.4px solid transparent;
  cursor: pointer;
}
.navbar-sub .scroll-menu .library-personal .item:hover {
  color: #fff;
}
.navbar-sub .scroll-menu .library-personal .item:hover .play-icon {
  display: block;
}
.navbar-sub .scroll-menu .library-personal .item a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar-sub .scroll-menu .library-personal .item a .play-icon {
  display: none;
  margin-left: auto;
  font-size: 1.8rem;
}
.navbar-sub .scroll-menu .library-personal .item a .play-icon:hover {
  color: #ddd;
}

.vip-sidebar-banner {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 16px 20px 0;
  padding: 20px 8px;
  border-radius: 8px;
  color: #fff;
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}
.vip-sidebar-banner .title {
  line-height: 1.67;
  padding-bottom: 16px;
}
.vip-sidebar-banner .vip-register {
  margin-top: 10px;
  color: #000;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 99px;
  border: 0.8px solid #ffdb00;
  background-color: #ffdb00;
}
.vip-sidebar-banner .vip-register:hover {
  opacity: 0.9;
}

.create-playlist-btn {
  position: fixed;
  display: flex;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 90px;
  gap: 12px;
  height: 54px;
  width: 240px;
  padding: 0 24px;
  cursor: pointer;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  background-color: #170f23;
  cursor: pointer;
}
.create-playlist-btn i {
  font-size: 1.6rem;
}

.wrapper {
  margin-left: 240px;
}

main {
  background-color: lightcoral;
  width: 100%;
  padding: 0 59px;
  background-clip: content-box;
  height: calc(100vh - 70px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 59px;
  height: 70px;
  color: rgba(216, 216, 216, 0.8666666667);
  background-color: #170f23;
  position: fixed;
  top: 0px;
  left: 15.625%;
  right: 0px;
}

.left-header {
  display: flex;
  align-items: center;
}
.left-header .actions {
  display: flex;
  font-size: 2.2rem;
}
.left-header .actions i {
  width: 44px;
}
.left-header .search-box {
  display: flex;
  align-items: center;
  padding-right: 10px;
  width: 440px;
  height: 40px;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 20px;
  color: #eee;
  background-color: hsla(0, 0%, 100%, 0.1);
}
.left-header .search-box .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.left-header .search-box input {
  height: 100%;
  width: 100%;
  padding: 5px;
  font-size: 1.4rem;
  color: #fff;
  background-color: transparent;
}
.left-header .search-box input::placeholder {
  color: #eee;
  font-weight: 400;
}

.right-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.right-header .install-pc-version {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  border-radius: 99px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #c273ed;
  background-color: hsla(0, 0%, 100%, 0.1);
}
.right-header .install-pc-version svg {
  margin-right: 4px;
}
.right-header .install-pc-version:hover {
  cursor: pointer;
  color: #9b4de0;
}
.right-header .setting-outer {
  position: relative;
}
.right-header .setting-outer:hover .setting-tooltips {
  display: block;
}
.right-header .setting-outer .setting {
  font-size: 1.8rem;
  padding: 5px;
  background-color: hsla(0, 0%, 100%, 0.1);
}
.right-header .setting-outer .setting-tooltips {
  position: absolute;
  font-size: 12px;
  top: 125%;
  width: 50px;
  left: 50%;
  translate: -50%;
  padding: 6px 4px;
  border-radius: 4px;
  color: #fff;
  background-color: #32323d;
  display: none;
}
.right-header .setting-outer .setting-tooltips::before {
  content: "";
  content: "";
  position: absolute;
  top: -67%;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(180deg);
  border-style: solid;
  translate: -50%;
  border-width: 8px 8px;
  border-color: #32323d transparent transparent;
}
.right-header .header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  overflow: hidden;
  cursor: pointer;
}
.right-header .header-btn:hover {
  opacity: 0.8;
}
.right-header .header-btn img {
  width: 100%;
}


.main {
  flex-grow: 1;
  width: calc(100% - 570px);
  background-color: #170f23;
}
.main .home-page-content {
  position: relative;
  min-height: calc(100% - 158px);
  margin-top: 70px;
}

.home-page-content .container {
  padding: 0px 59px;
  margin: 0px auto;
}
.home-page-content .container .gallery {
  padding-top: 32px;
  overflow: hidden;
}
.home-page-content .container .gallery .gallery-container {
  display: flex;
  align-items: center;
  height: 209.663px;
  gap: 30px;
}
.home-page-content .container .gallery .gallery-container .gallery-item {
  flex-basis: calc((100% - 60px) / 3);
  min-width: calc((100% - 60px) / 3);
  height: 100%;
}
.home-page-content .container .gallery .gallery-container .gallery-item img {
  border-radius: 8px;
}
.home-page-content .container .gallery .gallery-container [class$=-gallery] {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position: absolute;
  font-size: 30.72px;
  color: #fff;
  background-color: hsla(0, 0%, 100%, 0.15);
  box-shadow: 0 2px 4px 0 rgba(226, 102, 102, 0.15);
  opacity: 0;
  visibility: hidden;
  transition-property: visibility, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}
.home-page-content .container .gallery .gallery-container [class$=-gallery].next-gallery {
  right: 10px;
  translate: -100% 0;
}
.home-page-content .container .gallery .gallery-container [class$=-gallery].prev-gallery {
  translate: 100%;
  left: 10px;
}
.home-page-content .container .gallery .gallery-container:hover [class$=-gallery] {
  opacity: 1;
  visibility: visible;

.player-model {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  height: 90px;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  background-color: #130c1c;
}
.player-model .progress-bar {
  width: 70px;
  height: 3px;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.3);
}
.player-model .progress-bar:hover {
  cursor: pointer;
  height: 5px;
}
.player-model .progress-bar:hover .progress .dot {
  opacity: 1;
}
.player-model .progress-bar .progress {
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
}
.player-model .progress-bar .progress .dot {
  position: absolute;
  right: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0;
  transform: translate(50%, -50%);
  background-color: #fff;
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 598px;
  height: 73px;
}
.player .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 1.8rem;
}
.player .controls > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  margin: 10px;
  color: #fff;
  fill: #fff;
  border-radius: 50%;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s;
}
.player .controls > div:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.player .controls .play-toggle {
  width: auto;
  height: auto;
  font-size: 40px;
}
.player .controls .play-toggle:hover {
  color: #c273ed;
}
.player .play-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.player .play-inner .current-time {
  color: #fff;
  opacity: 0.5;
}
.player .play-inner .duration-time {
  color: #fff;
}
.player .play-inner .progress-bar {
  width: 488px;
}

.music-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.music-info .music-thumb {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.music-info .music-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.music-info .info {
  cursor: pointer;
}
.music-info .info .music-title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.36;
  color: #fff;
}
.music-info .info .author-name {
  font-size: 1.2rem;
  color: hsla(0, 0%, 100%, 0.5);
}
.music-info .info .author-name:hover {
  color: #c273ed;
}
.music-info .music-actions {
  display: flex;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}
.music-info .icon {
  font-size: 1.6rem;
  padding: 8px 10px;
  border-radius: 50%;
  transition: background-color 0.2s;
}
.music-info .icon:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.player-actions {
  display: flex;
  align-items: center;
}
.player-actions .volume {
  display: flex;
  align-items: center;
}
.player-actions .divide {
  width: 1px;
  height: 33px;
  margin: 0 20px;
  background-color: hsla(0, 0%, 100%, 0.1);
}
.player-actions .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 32px;
  border-radius: 50%;
  color: #fff;
}
.player-actions .icon svg {
  fill: currentColor;
}
.player-actions .icon:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
}
.player-actions .show-playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27.6px;
  height: 30px;
  color: #fff;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
}
.player-actions .show-playlist:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  cursor: pointer;
}
.player-actions .show-playlist svg {
  fill: currentColor;
}

/*# sourceMappingURL=style.css.map */
