// Flex-Center
@mixin center($direction) {
    @if ($direction == cross) {
        display: flex;
        align-items: center;
    } @else if($direction == main) {
        display: flex;
        justify-content: center;
    } @else if($direction == all) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// Width == Height
@mixin equal-sides($param) {
    width: $param;
    height: $param;
}

// Button
@mixin button($size, $type) {
    display: inline-block;
    border: 1px solid;
    border-radius: 99px;
    font-size: 1.2rem;
    color: $text-secondary;
    line-height: normal;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    &:hover {
        color: $white;
        border-color: $white;
    }
    @if ($size == md) {
        padding: 4px 24px;
    } @else if($size == sm) {
        padding: 4px 10px;
    }
    @if ($type == solid) {
        border-color: $purple-primary;
        background-color: $purple-primary;
    } @else if($type == regular) {
        border-color: $border-primary;
        background-color: transparent;
    }
}

// ellipsis overflow
@mixin ellipsis-overflow() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

@mixin section-title {
    @include center(cross);
    justify-content: space-between;
    color: $white;
    padding-bottom: 20px;
    line-height: 30px;
    h3.title {
        font-size: 20px;
        font-weight: 700;
    }
    .discovery-btn {
        @include center(cross);
        gap: 4px;
        font-size: 1.2rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        line-height: 18px;
        text-transform: uppercase;
        transition: color 0.2s;
        i {
            font-size: 1.6rem;
        }
        &:hover {
            color: $link-text-hover;
        }
    }
}

@mixin carousel-item {
    display: flex;
    margin: 0 -14px;
    .carousel-item {
        padding: 0px 14px;
        width: 14.28571%;
        .card-item {
            cursor: pointer;
            position: relative;
            width: 100%;
            .img {
                border-radius: 5px;
                width: 100%;
                overflow: hidden;
                img {
                    transition: transform 0.7s linear;
                }
            }
            .actions-container {
                @include center(cross);
                justify-content: space-evenly;
                width: 100%;
                visibility: hidden;
                opacity: 0;
                gap: 5px;
                position: absolute;
                inset: 0;
                background-color: rgba(0, 0, 0, 0.5);
                transition-property: visibility, opacity;
                transition: 0.1s linear;
                .carousel-icon {
                    position: relative;
                    @include center(all);
                    @include equal-sides(30px);
                    border-radius: 50%;
                    &:hover {
                        background-color: #ffffff3b;
                        .tool-tip {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .tool-tip {
                        @include tool-tip();
                    }
                }
                .play-video {
                    @include play-icon(secondary);
                }
                i {
                    color: #fff;
                    font-size: 20px;
                    margin: 0px 2px;
                    padding: 5px;
                }
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                .actions-container {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        span {
            display: inline-block;
            margin-top: 12px;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            line-height: 1.3;
            word-wrap: break-word;
            &:hover {
                color: #c273ed;
            }
        }
        p {
            &.desc {
                margin-top: 12px;
                font-weight: 400;
                line-height: 1.3;
                color: $text-secondary;
                font-size: 14px;
                &:hover {
                    color: $link-text-hover;
                }
            }
        }
    }
}

// tool-tip
@mixin tool-tip() {
    position: absolute;
    text-align: center;
    font-size: 12px;
    top: -110%;
    min-width: 40px;
    left: 50%;
    translate: -50%;
    padding: 6px 4px;
    border-radius: 4px;
    color: $white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    background-color: #32323d;
    white-space: nowrap;
    &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        border-style: solid;
        translate: -50%;
        border-width: 8px 8px;
        border-color: #32323d transparent transparent;
    }
}

// play video
@mixin play-icon($type) {
    @include center(all);
    @include equal-sides(40px);
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    i {
        font-size: 20px;
        margin-left: 2px;
    }
    &:hover {
        @if ($type == primary) {
            color: $purple-primary;
            border: 1px solid $purple-primary;
        } @else if ($type == secondary) {
            filter: brightness(0.9);
        }
    }
}
