$layout-background: #170f23;
$white: #fff;
$black: #000;
$purple-primary: #9b4de0;
$link-text-hover: #c273ed;
$header-height: 70px;
$sidebar-bg: hsla(0, 0%, 100%, 0.05);
$alpha-bg: hsla(0, 0%, 100%, 0.1);
$border-primary: hsla(0, 0%, 100%, 0.1);
$sidebar-width: 240px;
$content-paddingX: 59px;
$player-model-height: 90px;
$text-secondary: hsla(0, 0%, 100%, 0.5);
$border-player: hsla(0, 0%, 100%, 0.1);
$player-bg: #130c1c;
$progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
$create-playlist-btn-height: 54px;
$sidebar-item-height: 70px;
$loading-bg: hsla(0,0%,100%,0.1);
$sticky-header-box-shadow: rgba(0,0,0,0.1);
$layout-header-bg: rgba(30,30,30,0.8);