$layout-background: #170f23;
$purple-primary: #9b4de0;
$link-text-hover: #c273ed;
$header-height: 70px;
$sidebar-bg: hsla(0,0%,100%,0.05);
$alpha-bg: hsla(0,0%,100%,0.1);
$border-primary: hsla(0,0%,100%,0.1);
$padding-section: 59px;
