@mixin item-style() {
    .item {
        padding: 12px 21px;
        border-left: 2.4px solid transparent;
        cursor: pointer;
        &:hover {
            color: #fff;
            .play-icon {
                display: block;
            }
        }
        a {
            @include center(cross);
            gap: 12px;
            .play-icon {
                display: none;
                margin-left: auto;
                font-size: 1.8rem;
                &:hover {
                    color: #ddd;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: hsla(0, 0%, 100%, 0.3);
}

::-webkit-scrollbar-button {
    height: 54px;
}

.active {
    border-left: 2.4px solid $purple-primary !important;
    background-color: $alpha-bg;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $layout-background;
    .sidebar-inner {
        display: flex;
        flex-direction: column;
        width: $sidebar-width;
        height: 100%;
        background-color: $sidebar-bg;
        font-weight: 500;
        color: #ddd;
        font-size: 1.4rem;
    }
}

.sidebar-item {
    @include center(cross);
    padding: 0 25px 0 28px;
    height: $header-height;
    .zing-logo {
        height: 45px;
        img {
            width: 120px;
            height: 40px;
        }
    }
}

.navbar-main {
    position: relative;
    padding-bottom: 16px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 25px;
        right: 25px;
        bottom: 0;
        border: 1px solid $border-primary;
    }
    @include item-style();
}

.navbar-sub {
    overflow: auto;
    flex-grow: 1;
    .scroll-menu {
        padding-top: 16px;
        .menu {
            @include item-style();
        }
        .library-personal {
            @include item-style();
            padding-top: 16px;
            padding-bottom: 64px;
        }
    }
}

.vip-sidebar-banner {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 16px 20px 0;
    padding: 20px 8px;
    border-radius: 8px;
    color: #fff;
    background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
    .title {
        line-height: 1.67;
        padding-bottom: 16px;
    }
    .vip-register {
        margin-top: 10px;
        color: #000;
        text-transform: uppercase;
        padding: 6px 16px;
        border-radius: 99px;
        border: 0.8px solid #ffdb00;
        background-color: #ffdb00;
        &:hover {
            opacity: 0.9;
        }
    }
}

.create-playlist-btn {
    position: fixed;
    display: flex;
    @include center(cross);
    position: absolute;
    left: 0;
    right: 0;
    bottom: $player-model-height;
    gap: 12px;
    height: 54px;
    width: 240px;
    padding: 0 24px;
    cursor: pointer;
    border-top: 1px solid $border-primary;
    background-color: $layout-background;
    cursor: pointer;
    i {
        font-size: 1.6rem;
    }
}
